.cards {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(1, 1fr);

  @media only screen and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  width: 100%;
  // background-image: url('/imgs/cars/1.jpg');
  border-radius: 12px;

  padding: 0 !important;

  display: flex;
  flex-direction: column;

  > div {
    width: 100%;

    &:first-child {
      // background-image: url('/imgs/cars/1.jpg');
      height: 300px;
      border-left: 1px solid var(--clr-grey);
      border-top: 1px solid var(--clr-grey);
      border-right: 1px solid var(--clr-grey);
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      height: 100%;
      flex: 1;
      > div:first-child,
      > div > div:first-child {
        margin: 0;
        margin-bottom: 25px;
      }
      padding: 25px;

      border-left: 1px solid var(--clr-grey);
      border-right: 1px solid var(--clr-grey);
      border-bottom: 1px solid var(--clr-grey);
      border-radius: 0 0 10px 10px;
    }
  }
}

.description {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    -webkit-backdrop-filter: blur(5rem) brightness(0.75);
    // backdrop-filter: blur(5rem) brightness(0.25);
    backdrop-filter: blur(3.5rem) saturate(2) brightness(0.25);
  }
  > div:nth-child(1) {
    > h3 {
      font-size: 2.5rem;
    }
    > p {
      font-weight: bold;
    }
  }
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a {
    width: 100%;
    > button {
      font-weight: 700;
      width: 100%;
    }
  }
}
