.main {
  margin-top: 90px !important; // remove if want to use dedicated hero/header.
}

.car_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  > div {
    flex-grow: 1;
    flex-basis: 50%;
  }
  > div:nth-child(1) {
    // background-color: antiquewhite;
    aspect-ratio: 1 / 1;
    // height: 100px;
    // padding-bottom: 100%;

    border: 1px solid var(--clr-grey);
    border-radius: 10px;
  }
  > div:nth-child(2) {
    padding-top: 25px;
    > h3 {
      font-size: 2.5rem;
      &:nth-child(4) {
        font-size: 1.75rem;
      }
    }

    > p {
      font-weight: bold;
    }
  }
}
