.slider{
    width: 260px;
    height: 100vh;
    background-color: pink;
    margin-top: 30px;

    h1{
      color: black;
      padding-top: 20px;
      padding-left: 20px;
      font-size: 30px;    
    }
    

  }