.slider{
    width: 300px;
    height: 100vh;
    margin-top: 70px;
    background-color: darkgrey;
    border: none;
    border-radius: 5px;
    margin-left: -40px;



    h1{
      color: black;
      padding-top: 20px;
      padding-left: 20px;
      font-size: 30px;    
    }
  }

  .personSide{
    text-align: center;
    margin-top: 40px;
  }

  .menu{
    margin-top: 20px;
    margin-left: 10px;
    

    ul{
      width: 100wh;
    }

    li{
      border: 1px solid black;
      width: auto;
      margin-right: 10px;
      margin-bottom: 15px;
      padding: 5px;
      font-size: 20px;
      color: black;
      align-items: center;
      border-radius: 10px;
    }
  }


  