// $hero_height: max(50vh, 600px);
$hero_height: max(50vh, 600px);

.hero {
  height: $hero_height;
  // position: absolute;
  // inset: 0;
  z-index: -1;
}

.wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  > div {
    flex: 1;
  }
}

.bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0)),
    url('/imgs/bg.png');
  background-position: left;
  position: absolute;
  inset: 0;
  width: 100%;
  height: $hero_height;
  z-index: -1;
}

.tagline {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 3.8rem;

  span {
    font-family: 'Caveat';
    font-size: inherit;
    font-weight: 700;
  }
}
