
// .table{
//   border-collapse: collapse;
//   margin: 25px 0;
//   font-size: 0.9em;
//   min-width: 400px;
//   background-color: gray;
//   border: 1px solid gray;

//   thead tr {
//     color: #fff;
//     text-align: left;
//     font-weight: bold;
//     background-color: black;
//     border-radius: 50%;

//     th {
//       padding: 12px 15px;
//     }
//   }

//   tbody{
//     border-bottom: 1px solid #eee;
    

//     td{
//       padding: 12px 15px;
//     }
//   }


// }
.table_content {
  position: relative;
  border: 1px solid #eee;
  height: 300px; /* Atur ketinggian sesuai kebutuhan Anda */
  overflow: auto;
  border-radius: 5px;
}


.tableI{
  width: 850px;
  border-collapse: collapse;
  text-align: left;

  
  // position: fixed;

  th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;

  }

  td{
    padding: 12px 15px;
  
      

  }
}

