.container {
    overflow: scroll;
    height: 100%;
    position: relative;
  
    > div:first-child {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      position: sticky;
      top: 0;
  
      background-color: rgb(17 17 17/0.75);
      -webkit-backdrop-filter: blur(2.5rem);
      backdrop-filter: blur(2.5rem);
  
      z-index: 1;
  
      > div:first-child > h3 {
        font-weight: bold;
        font-size: 2.5rem;
      }
  
      > div:last-child {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
  
  .table_container {
    width: 100%;
  //   max-width: 100%;
  // // border: 1px solid tomato;
  // max-height: 400px;
  // position: relative;
  // overflow: auto;
    padding: 0 50px;
    padding-bottom: 50px;
    margin-top: 15px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  
    th,
    td {
      width: fit-content;
      padding: 8px;
      text-align: left;
      position: relative;

      button{
        
        width: 80px;
        padding: 5px;
      }
    }
  
    td::before,
    th::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  
    > thead {
      position: sticky;
      top: 110px;
  
      background-color: rgb(17 17 17/0.75);
      -webkit-backdrop-filter: blur(2.5rem);
      backdrop-filter: blur(2.5rem);
  
      z-index: 1;
      > tr {
        > th {
          cursor: pointer;
          &:last-child {
            cursor: auto;
          }
        }
  
        > th::before {
          background-color: hsla(0, 0%, 25%, 0.5);
          border: 1px solid var(--clr-grey);
          // border-bottom: 1px solid var(--clr-grey);
        }
  
        > th:first-child::before {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 2.5px;
        }
  
        > th:last-child::before {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 2.5px;
        }
      }
    }
  
    > tbody {
      > tr {
        > td::before {
          border: 1px solid var(--clr-grey);
          // border-bottom: 1px solid var(--clr-grey);
        }
  
        > td:first-child::before {
          border-top-left-radius: 2.5px;
          border-bottom-left-radius: 2.5px;
        }
  
        > td:last-child::before {
          border-top-right-radius: 2.5px;
          border-bottom-right-radius: 2.5px;
        }
      }
  
      > tr:nth-child(even) > td::before {
        background-color: hsla(0, 0%, 19%, 0.5);
      }
  
      > tr:last-child {
        // > td::before {
          // border-bottom: none;
        // }
        > td:first-child::before {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 2.5px;
        }
  
        > td:last-child::before {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 2.5px;
        }
      }
    }
  }
  