.container {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 750px;

  margin: 2rem;

  border: 1px solid hsla(0, 0%, 25%, 0.5);
  border-radius: 10px;

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: rgb(17 17 17/0.25);
    -webkit-backdrop-filter: blur(5rem) brightness(0.75) saturate(5);
    backdrop-filter: blur(5rem) brightness(0.75) saturate(5);
  }

  > div {
    padding: 2rem;
  }
}

.side {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    -webkit-backdrop-filter: blur(5rem) brightness(0.25) saturate(5);
    backdrop-filter: blur(5rem) brightness(0.25) saturate(5);
  }

  border-right: 1px solid hsla(0, 0%, 25%, 0.5);
  border-radius: 10px 0 0 10px;

  > div > h1 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 1.75rem;

    margin-bottom: 0.5rem;
  }

  > div:nth-child(2) {
    a {
      background: linear-gradient(45deg, #4aa5ff, #4affff, #6e6efc, #ffa54a);
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(255, 255, 255, 0.5);

      text-decoration: underline;
    }
  }
}

.content {
  width: 100%;
  > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > button {
      margin-top: 20px;
    }
  }
}
