.review {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 25%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.25) 75%,
      rgba(0, 0, 0) 95%
    ),
    url('/imgs/review_bg.png');

  background-size: contain !important;
  background-position: right !important;

  margin: 50px 0;
  //   height: ;

  display: flex;
  justify-content: space-between;
  align-items: center;

  > div:nth-child(1) {
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0));
    height: 100%;
    h3 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.cards {
  //   padding: 50px 0;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 15px;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    -webkit-backdrop-filter: blur(5rem) brightness(0.75);
    backdrop-filter: blur(5rem) brightness(0.75) saturate(5);
  }
  background-color: rgb(25, 25, 25, 0.75);
  border: 1px solid var(--clr-grey);
  border-radius: 10px;

  width: 25rem;

  > img {
    height: 64px;
  }
  > div > h5 {
    font-size: 1.25rem;
  }
}
