.nav {
  height: var(--sz-nav_height);
  // position: sticky;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.nav_wrap {
  height: 100%;
  width: 100%;
  margin: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrap {
  background-image: url('/logo/logo.svg');
  width: calc(var(--sz-nav_height) - 25px);
  height: calc(var(--sz-nav_height) - 25px);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding: 0 25px;
}
