.nav {
  height: var(--sz-nav_height);
  // position: sticky;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.nav_wrap {
  height: 100%;
  width: 100%;
  margin: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrap {
  background-image: url('/logo/logo.svg');
  width: calc(var(--sz-nav_height) - 25px);
  height: calc(var(--sz-nav_height) - 25px);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding: 0 25px;
}

.navNoBG {
  background-color: transparent;
}

.navBG {
  background-color: rgb(17, 17, 17);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .nav {
    background-color: rgb(17 17 17/0);
    transition: background-color 0.25s ease-out, backdrop-filter 0.25s ease-out;
    -webkit-backdrop-filter: blur(0) brightness(1);
    backdrop-filter: blur(0) brightness(1);
  }

  .navBG {
    background-color: rgb(17 17 17/0.75);
    -webkit-backdrop-filter: blur(12px) brightness(0.75);
    backdrop-filter: blur(12px) brightness(0.75);
  }
}
