.cards {
  display: flex;
  gap: 25px;
}

.card {
  /* text-transform: capitalize; */

  width: 100%;

  background-color: rgb(22, 22, 22);
  border: 1px white solid;
  border-radius: 10px;
  padding: 25px;

  h3 {
    font-size: 2.5rem;
    // font-family: 'Raleway';
    font-weight: bold;
  }
}
