.featured {
  width: 100%;
  //   background-color: var(--clr-main-bg);
  background-image: url('/imgs/cars/1.jpg');
  //   border: 1px solid var(--clr-grey);
  border-radius: 12px;

  padding: 0 !important;

  display: flex;

  > div {
    width: 100%;
    // padding: 25px;

    &:first-child {
      background-image: url('/imgs/cars/1.jpg');
      border-left: 1px solid var(--clr-grey);
      border-top: 1px solid var(--clr-grey);
      border-bottom: 1px solid var(--clr-grey);
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      > div {
        margin: 25px;
      }
      padding: 25px;

      border-right: 1px solid var(--clr-grey);
      border-top: 1px solid var(--clr-grey);
      border-bottom: 1px solid var(--clr-grey);
      border-radius: 0 10px 10px 0;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    > div {
      &:first-child {
        height: 300px;
        border-left: 1px solid var(--clr-grey);
        border-top: 1px solid var(--clr-grey);
        border-right: 1px solid var(--clr-grey);
        border-radius: 10px 10px 0 0;
      }
      &:last-child {
        > div {
          margin: 25px 15px;
        }
        padding: 15px;

        border-left: 1px solid var(--clr-grey);
        border-right: 1px solid var(--clr-grey);
        border-bottom: 1px solid var(--clr-grey);
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.description {
  width: max-content;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    -webkit-backdrop-filter: blur(5rem) brightness(0.75);
    backdrop-filter: blur(1rem) brightness(0.25);
  }
  // border-right: 1px solid var(--clr-grey);
  // border-top: 1px solid var(--clr-grey);
  // border-bottom: 1px solid var(--clr-grey);
  // border-radius: 0 10px 10px 0;

  // > div {
  //   margin: 25px;
  // }
  > div:nth-child(1) {
    > h3 {
      font-size: 2.5rem;
    }
    > p {
      font-weight: bold;
    }
  }
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    gap: 0.25rem;
    > a > button {
      font-weight: 700;
    }
    > a:nth-child(1) > button {
      border-radius: calc(1rem + 5px) 0 0 calc(1rem + 5px);
    }
    > a:nth-child(2) > button {
      border-radius: 0 calc(1rem + 5px) calc(1rem + 5px) 0;
    }
  }
}
