:root {
  --sz-nav_height: 65px;
  font-size: 1em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff;

  font-family: 'Atkinson Hyperlegible', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: calc(1rem + 5px);
  // background: linear-gradient(297.03deg, #4588c4 14.23%, #23588c 81.67%);
  background: linear-gradient(90deg, #2b44a8 0%, #2e63c9 75%);
}

.content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.no_drag {
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background_def {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
